@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

$primary-bg: #f4f5f9;
$secondary-bg: #fff;
$footer-services-bg: #202020;
$action-color: #e74c3c;
$hover-bg: #e74e3e;
$primary-text-color: #999;

body {
    font-family: 'Roboto', sans-serif;
    color: $primary-text-color;
    font-size: 14px;
    line-height: 1;
}

//DEFAULT CLASSES
.y-padding {
    padding: 140px 0;
}

.btn-action {

}

.section-heading {
   margin-bottom: 3vh;
   text-align: center;

   h2 {
       font-size: 36px;
       margin-bottom: 1.5vh;
       text-transform: uppercase;
       letter-spacing: 2px;
       font-weight: 400;
       color: #6a6a6a;
   }

   p {
       margin-bottom: 2.5vh;
   }

   span {
       display: inline-block;
       position: relative;
       height: 5px;
       width: 5px;
       border-radius: 50%;
       background-color: $action-color;

       &::before,
       &::after {
           content: "";
           display: inline-block;
           position: absolute;
           top: 2px;
           width: 80px;
           height: 1px;
           background-color: $primary-text-color;
       }

       &::before {
         left: 20px;
       }

       &:after {
         right: 20px;
       }
   }
}